<%-include("head")-%>
<%-include("../views/navigationGeneral")-%>
<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    a{
        padding: 1px 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>

<div class="box">
    <h2>Absence - <%- firstNameUser-%> <%- lastnameUser-%></h2>
    <input type="text" id="searchInput" placeholder="&#x1F50D; Vyhledat záznam" style="padding: 10px; font-size: 16px; border-radius: 10px; border: 1px solid gray;">
    <table id="entriesTable" >
      <thead>
       
          <th>Datum</th>
          <th>Počer hodin</th> 
          <th>Důvod</th>
          <th>Omluveno</th>
          
      </thead>
      <tbody >
        <% for (var i = 0; i < users.length; i++) { %>
          <tr>
           
            
            <td style="padding: 5px;">
                <%= users[i].datum %>
              </td>
              <td style="margin: 3px;">
                <%= users[i].absence_count %>
            </td>
            <td style="margin: 3px;">
                <%= users[i].duvod %>
            </td>
            <td style="margin: 3px;">
                <%= users[i].omluveno %>
            </td>
    
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>


<%-include("footer")-%>