<%-include("head")-%>
<%-include("../views/navigationGeneral")-%>
<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>


<div class="box">
<h2><%- className -%></h2>
    <table>
      <tbody >
        <% for (var i = 0; i < users.length; i++) { %>
          <tr>
            <td>
              <i class="fa fa-user"></i>
            </td>
            <td style="padding: 5px;">
           <a style="display: inline-block; text-decoration:  underline; color: lightslategray; font-style: italic;" href="/user/<%= users[i].id_user %>"> <%= users[i].firstName %> <%= users[i].lastName %> </a> 
            </td>
            <td>
                <% if (users[i].name === 'uÄitel') { %>
                    <span style="color: rgb(255, 166, 0);"><%= users[i].name %></span>  
                  <% } else if (users[i].name === 'student') { %>
                    <span style="color: rgb(21, 71, 255)"><%= users[i].name %></span> 
                  <% } %>
                  
            </td>
          </tr>
          <tr>
           
                
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>



<%-include("footer")-%>