<%-include("head")-%>
<%-include("../views/navigationGeneral")-%>
<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    a{
        padding: 1px 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>


<div class="box">
<h2><%- className -%></h2>
<% for (var i = 0; i < users.length; i++) { %>
<% if (users[i].name === 'učitel') { %>
  <span style="text-decoration: solid; color: rgb(255, 166, 0);"><strong>Třídní učitel</strong>  </span>  <br> <span style="font-size: medium;"><%= users[i].firstName %> <%= users[i].lastName %></span>  
    <br>
    <% } %>
    <% } %>
    
<input type="text" id="searchInput" placeholder="&#x1F50D; Vyhledat uživatele" style="padding: 10px; margin: 10px 0; font-size: 16px; border-radius: 10px; border: 1px solid gray;">
    <table id="entriesTable">
      <tbody >
        <% for (var i = 0; i < users.length; i++) { %>
          <tr>
            
            <td style="padding: 5px;">
                <% if (users[i].name === 'učitel') { %>
                   
                    <% } else if (users[i].name === 'student') { %>
                        <a style="display: inline-block; text-decoration:  underline; color: lightslategray; font-style: italic;" href="/user/<%= users[i].id_user %>"> <%= users[i].firstName %> <%= users[i].lastName %> </a> 
                    <% } %>
          
            </td>
            <td>
                <% if (users[i].name === 'učitel') { %>
                   
                  <% } else if (users[i].name === 'student') { %>
                    <span style="color: rgb(21, 71, 255)"><%= users[i].name %></span> 
                  <% } %>
            </td>
        <td>
            <% if (users[i].name === 'student') { %>
              
                <form action="/absence/<%= users[i].id_user %>" method="get">
                    <input style="margin-left: 20px;" type="submit" value="absence">
                </form>
            
              <% } %>
            
        </td>  
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <script>
    document.getElementById("searchInput").addEventListener("keyup", searchFunction);

    function searchFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("entriesTable");
      tr = table.getElementsByTagName("tr");

      // Zobrazení hlavičky
      tr[0].style.display = "";

      // Procházení všech řádků tabulky
      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        var match = false;
        // Procházení všech sloupců v řádku
        for (var j = 0; j < td.length; j++) {
          txtValue = td[j].textContent || td[j].innerText;
          // Pokud obsahuje hledaný řetězec, zobraz řádek
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            match = true;
            break;
          }
        }
        if (match) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>


<%-include("footer")-%>