<%-include("head")-%>

<%-include("../views/navigationGeneral")-%>


<style>

    .box {
          border: 1px solid black;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          position: absolute; top: 100px; left: 42%;
          padding: 20px;
          border-radius: 10px;
    
    
        }
    
    </style>
    
    
    <div class="box">
    <form action="/teacher/enterManuallyForm"   method="post">
        <label style="font-size: large;" >Vybrat předmět :</label>
        <select id="mySelect"  name="selectedSubject" >
            <% users.forEach((user) => { %>
              <option style="font-size: large;" value="<%= user.id_subject %>"><%= user.jmeno %></option>
            <% }); %>
          </select>
          
          </script>
      <br>
      <input type="hidden" value="<%= clasIDD %>" name="selectedOption">
      <input   style="margin-top: 20px;" type="submit">
    </form>
    
    </div>
    


<%-include("footer")-%>