<%-include("head")-%>

<%-include("navigationGeneral")-%>


<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
   
  </style>


<div class="box">
  <form>
    <label>Teacher name</label>
    <input type="text" value="<%= teacherName %>" disabled>
    <br>
    <label>Subject:</label>
    <input type="text" value="<%= subject %>" disabled>
    <br>
    <label>Taught hours:</label>
    <input type="text" value="<%= taughtHours %>" disabled>
    <br>
    <input type="submit" value="Odeslat">
    </form>
      
</div>



<%-include("footer")-%>