<%-include("head")-%>

<%-include("../views/navigationGeneral")-%>

<script>

function deleteEntry(id) {
  if (confirm("Are you sure you want to delete this record?")) {
    $.ajax({
      url: '/teacher/' + id + '/delete',
      type: 'POST',
      success: function (result) {
        console.log("Record with id " + id + " was deleted successfully");
        location.reload();
      }
    });
  }
}




</script>


<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>

<div class="box">
    <h2>Entries</h2>
    <table>
      <thead>
        <tr>
          <th> </th>
          <th>DATE</th>
          <th>CLASS</th>
          <th>SUBJECT</th>
        </tr>
      </thead>
      <tbody >
        <% for (var i = 0; i < users.length; i++) { %>
          <tr>
            <td>
              <i class="fa fa-user"></i>
            </td>
            <td style="padding: 5px;">
              <%= date %>
            </td>
            <td>
              <%= users[i].name %>
            </td>
            <td>
                <%= users[i].jmeno %>
            </td>
            <td>
                <form action="/teacher/<%= users[i].id_entry %>/modify" method="get">
                    <input type="submit" value="MODIFY">
                </form>
            </td>
            <td>
                <input type="button" value="DELETE" onclick="deleteEntry('<%= users[i].id_entry %>')">

            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

<%-include("footer")-%>