<%-include("head")-%>

<%-include("navigationGeneral")-%>


<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;


    }
   
  
  </style>
  
<script>
document.addEventListener('DOMContentLoaded', () => {
  const addNameButton = document.querySelector('button[onclick="addName()"]');
  const selectElement = document.querySelector('select');
  const formElement = document.querySelector('form[name="myForm"]');

  

  // Set the display and vertical-align styles of the select element
  selectElement.style.display = 'inline-block';
  selectElement.style.verticalAlign = 'top';

  // Set the display and vertical-align styles of the addNameButton
  addNameButton.style.display = 'inline-block';
  addNameButton.style.verticalAlign = 'top';
  addNameButton.style.marginLeft = '10px';

  addNameButton.addEventListener('click', (event) => {
    event.preventDefault();
    // The rest of the code goes here
    const selectedOption = selectElement.options[selectElement.selectedIndex];
  
    // Create a new element to display the selected value
    const newElement = document.createElement('div');
    newElement.innerHTML = `${selectedOption.textContent} <button>-</button>`;
    newElement.setAttribute('id_user', selectedOption.value);
  
    // Insert the new element after the addNameButton
    addNameButton.parentNode.insertBefore(newElement, addNameButton.nextSibling);

    // Add a persistent event listener to the "-" button
    const removeButton = newElement.querySelector('button');
    removeButton.addEventListener('click', (event) => {
      event.preventDefault();
      // Remove the parent element of the button (the div containing the name and the button)
      removeButton.parentNode.remove();
    });
  });
});






</script>
  
  
<div class="box">
  <form name="myForm" id="entry">
    <label>Teacher’s name</label>
    <input type="text" value="<%= teacherName %>" disabled>
    <br>
    <label>Subject:</label>
    <input type="text" value="<%= subject %>" disabled>
    <br>
    <label>Class:</label>
    <input type="text" value="<%= classNumber %>" disabled>
    <br>
    <label>Lesson number:</label>
    <input type="text" value="<%= taughtHours %>" disabled>
    <br>
    <label>notes:</label>
    <input type="text">

    <br>
    <label>absence:</label>
   
      <select>
        <% users.forEach((user) => { %>
          <option value="<%= user.id_user %>"><%= user.firstName %> <%= user.lastName %></option>
        <% }); %>
      </select>
      <button onclick="addName()">+</button>
   
    
    <br>
    <input type="submit" value="Odeslat">
    </form>
      
</div>



<%-include("footer")-%>