



    <style>



       ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          font-size: large;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        
        </style>
        </head>
        <body>
        
       
          
            <%if (role === 3) { %>
                <style>
                    li a:hover {
                 color: rgb(255, 5, 5);
               }
                      </style>
                      
                       <ul>
                       <li><a href="/manageClasses">Manage classes</a></li>
                       <li><a href="#news">Manage users </a></li>
                       <li><a href="#news">Manage subjects </a></li>
                       <li><a href="/user/<%- user_id -%>">My profile</a></li>
                       <li><a href="#news">Reports</a></li>
                     
                     <ul style="float: right; " >
                       <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
             
             
                      
                             <span><%- name  %> </span> 
                             <br> <strong style="color: rgb(255, 5, 5);"><span style="font-style: italic;  font-size:smaller;">admin</span></strong>
                          
             
             
             
                       </li>
                       <li><a href="" onclick="toggleTheme()"><i class="fas fa-adjust"></i></a>
                       <li><a href="/"><%- stav -%> </a></li> 
                        
                      </ul>

                      
               <%}else if(role === 2){ %>
               
               <style>
             li a:hover {
          color: rgb(255, 166, 0);
        }
               </style>
               
                <ul>
              <li><a href="/teacher/entry">Zápis</a></li>
              <li><a href="/teacher/entries">Mé zápisy</a></li>
              <%if (class_id != null) { %>
              <li><a href="/class/<%- class_id -%>">Moje třída</a></li>
              <% } %>
              <li><a href="/teacher/downland">Stáhnout</a></li>
              <li><a href="/user/<%- user_id -%>">Můj profil</a></li>
             
              
              <ul style="float: right; " >
                <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
      
      
               
                      <span><%- name  %> </span> 
                      <br> <strong style="color: rgb(255, 166, 0);"><span style="font-style: italic;  font-size:smaller;">učitel</span></strong>
                   
      
      
      
                </li>
                <li><a href="#" onclick="toggleTheme()"><i class="fas fa-adjust"></i></a>
                <li><a href="/"><%- stav -%> </a></li> 
                 
               </ul>

              <% } else if(role === 1){ %>
                <style>
                    li a:hover {
                 color: rgb(21, 71, 255);
               }
                      </style>
                      
                       <ul>
                       <li><a href="/absence/<%- user_id -%>">Mé záznamy</a></li>
                     <li><a href="#news">Stáhnout</a></li>
                     <li><a href="/user/<%- user_id -%>">Můj profil</a></li>
                    
                     
                     <ul style="float: right; " >
                       <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
             
             
                      
                             <span><%- name  %> </span> 
                             <br> <strong style="color: rgb(21, 71, 255)"><span style="font-style: italic;  font-size:smaller;">student</span></strong>
                          
             
             
             
                       </li>
                       <li><a href="" onclick="toggleTheme()"><i class="fas fa-adjust"></i></a>
                       <li><a href="/"><%- stav -%> </a></li> 
                        
                      </ul>
                <% } %>



              