




    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          font-size: large;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        
        </style>
        </head>
        <body>
        
       
          
            <%if (role === 3) { %>
                <style>
                    li a:hover {
                 color: rgb(255, 5, 5);
               }
                      </style>
                      
                       <ul>
                       <li><a href="/manageClasses">Manage classes</a></li>
                       <li><a href="#news">Manage users </a></li>
                       <li><a href="#news">Add user </a></li>
                       <li><a href="#news">Add class </a></li>
                       <li><a href="#contact">My profile</a></li>
                       <li><a href="#news">Reports</a></li>
                     
                     <ul style="float: right; " >
                       <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
             
             
                      
                             <span><%- name  %> </span> 
                             <br> <strong style="color: rgb(255, 5, 5);"><span style="font-style: italic;  font-size:smaller;">admin</span></strong>
                          
             
             
             
                       </li>
                       <li><a href="#">Switch theme</a></li>
                       <li><a href="/"><%- stav -%> </a></li> 
                        
                      </ul>

                      
               <%}else if(role === 2){ %>
               
               <style>
             li a:hover {
          color: rgb(236, 236, 10);;
        }
               </style>
               
                <ul>
                <li><a href="/teacher/entry">Entry</a></li>
              <li><a href="#news">My classes</a></li>
              <li><a href="#contact">Download</a></li>
              <li><a href="#news">Reports</a></li>
              
              <ul style="float: right; " >
                <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
      
      
               
                      <span><%- name  %> </span> 
                      <br> <strong style="color: rgb(236, 236, 10);"><span style="font-style: italic;  font-size:smaller;">teacher</span></strong>
                   
      
      
      
                </li>
                <li><a href="#">Switch theme</a></li>
                <li><a href="/"><%- stav -%> </a></li> 
                 
               </ul>

              <% } else if(role === 1){ %>
                <style>
                    li a:hover {
                 color: rgb(92, 244, 158);
               }
                      </style>
                      
                       <ul>
                       <li><a href="#home">My logs</a></li>
                     <li><a href="#news">Download</a></li>
                     <li><a href="#contact">Report entry</a></li>
                     
                     <ul style="float: right; " >
                       <li style="color: whitesmoke; padding-top: 5px; padding-right: 10px; ">
             
             
                      
                             <span><%- name  %> </span> 
                             <br> <strong style="color: rgb(92, 244, 158);;"><span style="font-style: italic;  font-size:smaller;">student</span></strong>
                          
             
             
             
                       </li>
                       <li><a href="#">Switch theme</a></li>
                       <li><a href="/"><%- stav -%> </a></li> 
                        
                      </ul>
                <% } %>



              