<%-include("head")-%>
<%-include("../views/navigationGeneral")-%>

<style>
    .box {
      border: 1px solid black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      position: absolute; top: 100px; left: 42%;
      padding: 20px;
      border-radius: 10px;
    }
    table {
      margin: 0 auto;
    }
  </style>
<% if (roleColor=== 2) { %>
  <style>
    #role {
      color: rgb(220, 220, 0);
    }
  </style>
<% } else if (roleColor === 3) { %>
  <style>
    #role {
      color: red;
    }
  </style>
<% } else if (roleColor === 1) { %>
  <style>
    #role {
      color: green;
    }
  </style>
<% } %>

<div class="box">
    <h2><i class="fa fa-user"></i></h2>
    <table>
      <tbody >
   
          <tr>  
            <th>Name and surname</th>
            <td style="padding: 5px;">
           <span style="font-style: italic;" ><%- firstName -%> <%- lastName -%></span>   
            </td>
          </tr>
          <tr>
            <th>Username</th>
            <td>
                <%- username -%> 
              </td>
          </tr>
          <tr>
            <tr>
                <th>Role</th>
                  <td id="role">
                    <span style="font-style: italic;">   <%- roleName -%>   </span>
                   
                  </td>
              </tr>
              <tr>
            <th>Class</th>
            <td>
            <span style="font-style: italic;"> <%- className -%> </span>    
              </td>
          </tr>
          <% if (user_id == specificUserID) { %>
          <tr>
            <th>Heslo</th>
            <td>
                <a style="text-decoration: underline; color: lightslategray;" href="/user/changePassword/<%- user_id -%>">change password..</a>
              </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>




<%-include("footer")-%>